In [255]:
import pandas as pd

In [256]:
df = pd.read_csv('stroke_data.csv')
# print(df.head())

In [257]:
# print(df.head())
df.head()

,sex,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1.0,63.0,0,1,1,4,1,228.69,36.6,1,1
1,1.0,42.0,0,1,1,4,0,105.92,32.5,0,1
2,0.0,61.0,0,0,1,4,1,171.23,34.4,1,1
3,1.0,41.0,1,0,1,3,0,174.12,24.0,0,1
4,1.0,85.0,0,0,1,4,1,186.21,29.0,1,1

In [258]:
# shape of the data set
df.shape

(40910, 11)

In [259]:
#type of dataset
type(df)

pandas.core.frame.DataFrame

In [260]:
df.tail()

,sex,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
40905,1.0,38.0,0,0,0,4,1,120.94,29.7,1,0
40906,0.0,53.0,0,0,1,4,0,77.66,40.8,0,0
40907,1.0,32.0,0,0,1,2,0,231.95,33.2,0,0
40908,1.0,42.0,0,0,1,3,0,216.38,34.5,0,0
40909,1.0,35.0,0,0,0,4,0,95.01,28.0,0,0

In [261]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40910 entries, 0 to 40909
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sex                40907 non-null  float64
 1   age                40910 non-null  float64
 2   hypertension       40910 non-null  int64
 3   heart_disease      40910 non-null  int64
 4   ever_married       40910 non-null  int64
 5   work_type          40910 non-null  int64
 6   Residence_type     40910 non-null  int64
 7   avg_glucose_level  40910 non-null  float64
 8   bmi                40910 non-null  float64
 9   smoking_status     40910 non-null  int64
 10  stroke             40910 non-null  int64
dtypes: float64(4), int64(7)
memory usage: 3.4 MB

In [262]:
df.isnull().sum()

sex                  3
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [263]:
print(df['sex'].unique())

[ 1.  0. nan]

In [264]:
df = df.dropna(subset=['sex'])

In [265]:
df.isnull().sum()

sex                  0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [266]:
df.value_counts('stroke')

stroke
1    20460
0    20447
Name: count, dtype: int64

In [267]:
#group the values based on mean
df.groupby('stroke').mean()

,sex,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
stroke,,,,,,,,,,
0,0.610358,50.061134,0.108378,0.052966,0.751700,3.440358,0.508974,106.797871,30.281313,0.454345
1,0.500000,52.592669,0.319257,0.202444,0.890909,3.481818,0.520723,137.351777,30.531584,0.522776

In [268]:
#statistical measures 
df.count()

sex                  40907
age                  40907
hypertension         40907
heart_disease        40907
ever_married         40907
work_type            40907
Residence_type       40907
avg_glucose_level    40907
bmi                  40907
smoking_status       40907
stroke               40907
dtype: int64

In [269]:
#mean value column wise
df.mean()

sex                    0.555162
age                   51.327303
hypertension           0.213851
heart_disease          0.127729
ever_married           0.821326
work_type              3.461095
Residence_type         0.514851
avg_glucose_level    122.079679
bmi                   30.406488
smoking_status         0.488572
stroke                 0.500159
dtype: float64

In [270]:
#standard deviation value column wise
df.std()

sex                   0.496954
age                  21.624171
hypertension          0.410028
heart_disease         0.333792
ever_married          0.383083
work_type             0.780934
Residence_type        0.499786
avg_glucose_level    57.561951
bmi                   6.835305
smoking_status        0.499875
stroke                0.500006
dtype: float64

In [271]:
#minimum value column wise
df.min()

sex                   0.00
age                  -9.00
hypertension          0.00
heart_disease         0.00
ever_married          0.00
work_type             0.00
Residence_type        0.00
avg_glucose_level    55.12
bmi                  11.50
smoking_status        0.00
stroke                0.00
dtype: float64

In [272]:
print("BEFORE REMOVING NEGATIVE AGE : \n", df['age'].count())
negativeAge = df[df['age']<0]

print("\n\nNEGATIVE AGE VALUEsS : ")
print(negativeAge['age'].count())

df = df[df['age']>=0]
print("\n\nAFTER REMOVING NEGATIVE AGE :\n",df['age'].count())

BEFORE REMOVING NEGATIVE AGE :
 40907


NEGATIVE AGE VALUEsS :
58


AFTER REMOVING NEGATIVE AGE :
 40849

In [273]:
#all statistical values
df.describe()

,sex,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
count,40849.000000,40849.000000,40849.000000,40849.000000,40849.000000,40849.000000,40849.000000,40849.000000,40849.000000,40849.000000,40849.000000
mean,0.554897,51.404074,0.213592,0.127690,0.821293,3.460942,0.514774,122.070963,30.405795,0.488702,0.499449
std,0.496983,21.543166,0.409847,0.333748,0.383111,0.781067,0.499788,57.555158,6.835516,0.499878,0.500006
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55.120000,11.500000,0.000000,0.000000
25%,0.000000,35.000000,0.000000,0.000000,1.000000,3.000000,0.000000,78.750000,25.900000,0.000000,0.000000
50%,1.000000,52.000000,0.000000,0.000000,1.000000,4.000000,1.000000,97.950000,29.400000,0.000000,0.000000
75%,1.000000,68.000000,0.000000,0.000000,1.000000,4.000000,1.000000,167.410000,34.100000,1.000000,1.000000
max,1.000000,103.000000,1.000000,1.000000,1.000000,4.000000,1.000000,271.740000,92.000000,1.000000,1.000000

In [274]:
#Manipulating a dataframe
print("Before removing exer_married column")
print(df.columns)

Before removing exer_married column
Index(['sex', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [275]:
df = df.drop(columns='ever_married', axis=1)
print("After removing exer_married column")
df.columns

After removing exer_married column

Index(['sex', 'age', 'hypertension', 'heart_disease', 'work_type',
       'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status',
       'stroke'],
      dtype='object')